html, body {
    margin: 0;
    padding: 0;
}
 #app {
font-size: 25px;
color: pink;
margin-top: 20px;
 }
.container {
    
    padding-top: 100px;
}

body {
    background-color: #F5E2E5;
    text-align: left;
    font-family: Helvetica, "Helvetica New", ‘Roboto’, sans-serif !important;
    
}
#textcenter {
    width: 70%;
    text-align: center;
    height: 100%;
}
h1{
    margin: 0px;
}
.hoverTable {
    padding: 30px;
    border-collapse: collapse;
    width: 80%;
}
.liste {
    font-family: Georgia;
}

#div { 
    padding: 40px;
    height: 500px;
    width: 800px;
    position: relative;
}
header {
    background-color: rgb(18, 37, 36);
    top: 0px;
    width: 100%;
    color: white;
    height: 55vh;
}
.Name {
    text-align: left;
}
.welcome {
    position: relative;
}
.hoverTable :hover {
    cursor: pointer;
    padding:10px;
    position: relative;
    background-color: rgb(84, 129, 10); 
}

nav {
    margin: 0; 
    padding: 15px;
    background: #013F32;
    text-transform: uppercase;
}
nav li {
    cursor: pointer;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 20;
  font-size: 20px;
  display: inline-block;
  width: 600px;
  
}
th, td {
    
    width: 40%;
    padding: 8px;
    line-height: 1.4;
    border-bottom: 1px solid burlywood;
    background-color: azure;
}
.address {
    padding: 20px;
}
.number{
    display: inline;
}
