h1 {
    text-decoration:strong;
}

body {
    background-color:rgb(133, 238, 168);
    opacity: 0.75px;
}
hr {
    border-color: black;
    border-width: 2px;
}
ul {
    
}
.liste {
    font-family: Georgia;
}