html, body {
    margin: 0;
    padding: 0;
}
h1 {
    
    text-align: center;
    border: 1px solid rgb(1, 10, 10);
    border-collapse: collapse;
    padding-top: 10px;
    color: whitesmoke;
    margin: 0px auto;
    background-color: rgb(3, 45, 61);
    position: fixed;
    width: 100%;
    opacity: 0.5px;
    height: 100px;
    

   
}
.content {
    
    padding-top: 200px;
}

body {
    background-color:rgb(133, 238, 168);
    opacity: 0.75px;
    text-align: left;
    padding: 30px;
}
tbody {
    border: 1px solid black;
    border-width: 2px;
}
table {
    width: 100%;
}
.liste {
    font-family: Georgia;
}

}
#div { 
    padding: 40px;
    height: 500px;
    width: 800px;
    position: relative;
}
header {
    background-color: rgb(18, 37, 36);
    position: fixed;
    top: 0px;
    right: 3px;
    left: 1px;
    width: 100%;
    color: white;
    z-index: 5px;
}
.Name {
    text-align: left;
}
h2 {
    
}
.welcome {
    position: relative;
}
tr {
    padding:20px;
    position: relative;
}
nav {
    margin: 0; 
    padding: 20px 0;
}
nav li {
   color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 12px;
  display: inline-block;
  width: 500px;
  
}
th, td {
    position: relative;
    width: 40%;
}
